<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kryptoor</title>
    <link rel="stylesheet" href="mystyle.css">
    <h1>welcome in Kryptoor.</h1>
</head>
<body>
    <nav>
        <a href="/add_pwd_form">add password</a>
        <br>
    </nav>
    <div id = "input_form">
        <form action="/get_pwd">
            <label for="soft">enter the software:</label>
            <input type="text" id="soft" name="soft"><br>
            <input type="submit" value="Submit">
        </form>
        <samp>
            {{ pwd }}
        </samp>
    </div>
</body>
</html>